@model Student
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        th {
            font-size: 30px;
        }

        body {
            background-color: #212529;
        }
    
    </style>
</head>
<body>

    <table class="table table-hover table-bordered">
        <theader>
            <tr>
                <th style="color:red">ID</th>
                <th style="color:red">NAME</th>
                <th style="color:red">AGE</th>
                <th style="color:red">DEPARTMENT</th>
                <th style="color:red">Email</th>
                <th style="color:red">Password</th>
            </tr>
        </theader>

        <tr>
            <th style="color:white">@Model.Id</th>
            <th style="color:white">@Model.Name</th>
            <th style="color:white">@Model.Age</th>
            <th style="color:white">@Model.Department.Name</th>
            <th style="color:white">@Model.Email</th>
            <th style="color:white">@Model.Password</th>
        </tr>
        

    </table>
    <a asp-action="index" asp-controller="student" style="font-size:40px; margin-left:45%" class="btn alert-danger"> Back </a>

</body>
</html>
